{% extends 'base.html.twig' %}

{% block title %}Actualizar contacto{% endblock %}

{% block body %}

    <h1>Actualizar contacto</h1>

    {{ form(form, {"attr": {"novalidate": "novalidate"}}) }}

{% endblock %}
